<nav class='navbar navbar-expand navbar-light bg-light'>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' routerLink='/welcome'>Info</a></li>
    <li><a class='nav-link' routerLink='/tours'>Tours List</a></li>
    <li><a class='nav-link' routerLink='/addTour'>Add new tour</a></li>
    <li><a class='nav-link' routerLink='/showcase'>Showcase component</a></li>
  </ul>
</nav>

<div class='container'>
  <router-outlet></router-outlet>
</div>

<footer class="text-center text-lg-start bg-light text-muted fixed-bottom">
  <div class="p-4 text-center" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Michal Budzan - wszelkie prawa zastrzeżone
  </div>
</footer>
