
<div class='card'>
  <div class='card-header'>
    Fill a form below:
  </div>

    <div class='card-body'>
      <form [formGroup]="profileForm" (ngSubmit)="test()">

          <label for="first-name">First Name</label>
          <input id="first-name" type="text" class="form-control" formControlName="firstName">

          <!-- <div *ngIf="profileForm.controls['firstName'].invalid && (profileForm.controls['firstName'].dirty || profileForm.controls['firstName'].touched)" class="alert">
            <div *ngIf="profileForm.controls['firstName'].errors">
               There are validation errors
          </div>
        </div> -->

          <label for="last-name">Last Name: </label>
          <input id="last-name" class="form-control" type="text" formControlName="lastName">
          <div class="row mb-4"></div>

          <button type="submit" class="primary" [disabled]="!profileForm.valid">Submit</button>
      </form>

    </div>
</div>



